<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{data.name}}</mat-card-title>
    <img alt=""
         mat-card-avatar
         src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/blocks/{{data.blockId}}-{{data.subId}}.png">
  </mat-card-header>
  <div mat-card-image fxLayoutAlign="center center">
    <div class="live-viewer">
      <div class="line" [innerHTML]="replaceColor( line1.value) | safeHtml"></div>
      <div class="line" [innerHTML]="replaceColor( line2.value) | safeHtml"></div>
      <div class="line" [innerHTML]="replaceColor( line3.value) | safeHtml"></div>
      <div class="line" [innerHTML]="replaceColor( line4.value) | safeHtml"></div>
    </div>
  </div>
  <mat-card-content>
    <form fxLayout="column wrap">
      <mat-form-field>
        <input #line1 (focusout)="saveLine(line1.value,0)" [value]="data.signLayout[0]"
               matInput placeholder="{{ 'module.sign.edit.line.1.placeholder' | translate }}">
      </mat-form-field>
      <mat-form-field>
        <input #line2 (focusout)="saveLine(line2.value,1)" [value]="data.signLayout[1]"
               matInput placeholder="{{ 'module.sign.edit.line.2.placeholder' | translate }}">
      </mat-form-field>
      <mat-form-field>
        <input #line3 (focusout)="saveLine(line3.value,2)" [value]="data.signLayout[2]"
               matInput placeholder="{{ 'module.sign.edit.line.3.placeholder' | translate }}">
      </mat-form-field>
      <mat-form-field>
        <input #line4 (focusout)="saveLine(line4.value,3)" [value]="data.signLayout[3]"
               matInput placeholder="{{ 'module.sign.edit.line.4.placeholder' | translate }}">
      </mat-form-field>
      <mat-form-field>
        <input #blockID (change)="data.blockId = parseInt(blockID.value)" [value]="data.blockId"
               matInput placeholder="Minecraft Block ID">
      </mat-form-field>
      <mat-form-field>
        <input #blockName (change)="data.blockName = blockName.value" [value]="data.blockName"
               matInput placeholder="Minecraft Block Name">
      </mat-form-field>
      <mat-form-field>
        <input #subID (change)="data.subId = parseInt(subID.value)" [value]="data.subId"
               matInput placeholder="Minecraft Block Sub ID">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-dialog-close>{{'buttons.close' | translate}}</button>
  </mat-card-actions>
</mat-card>
