<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<h1 mat-dialog-title>{{ 'changelog.title' | translate}}</h1>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let update of Updates">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{update.Type}}
        </mat-panel-title>
        <mat-panel-description>
          {{update.version}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <h3 mat-subheader>{{ 'changelog.subtitle.bugfixes' | translate }}</h3>
        <mat-list-item *ngFor="let fix of update.fixes">
          <mat-icon mat-list-icon>done</mat-icon>
          <p mat-line>{{fix}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>{{ 'changelog.subtitle.news' | translate }}</h3>
        <mat-list-item *ngFor="let news of update.adds">
          <mat-icon mat-list-icon>done_all</mat-icon>
          <p mat-line>{{news}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>{{ 'changelog.subtitle.removefeatures' | translate }}</h3>
        <mat-list-item *ngFor="let remove of update.removes">
          <mat-icon mat-list-icon>delete_forever</mat-icon>
          <p mat-line>{{remove}}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">{{ 'buttons.close' | translate}}</button>
</div>

