<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div>
  <mat-toolbar>
    <button mat-icon-button routerLink="/cperms">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <h2 *ngIf="group != null">{{group.name}}</h2>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="SubmitGroup()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div fxLayout="column" fxLayoutGap="20px" *ngIf="group != null">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <br>
    <mat-checkbox (change)="group.defaultGroup = !group.defaultGroup"
                  [checked]="group.defaultGroup">{{ 'cperms.adgroup.defaultgroup.placeholder' | translate}}</mat-checkbox>
    <br>
    <mat-form-field>
      <input #name (focusout)="onSaveName(name.value)" [value]="group.name" matInput
             placeholder="{{ 'cperms.adgroup.groupname.placeholder' | translate}}" type="text">
    </mat-form-field>
    <mat-form-field>
      <input #prefix (focusout)="SavePrefix(prefix.value)" [value]="group.prefix" matInput
             maxlength="16" placeholder="{{ 'cperms.adgroup.prefix.placeholder' | translate}}" type="text">
    </mat-form-field>
    <mat-form-field>
      <input #suffix (focusout)="SaveSuffix(suffix.value)" [value]="group.suffix" matInput
             maxlength="16" placeholder="{{ 'cperms.adgroup.suffix.placeholder' | translate}}" type="text">
    </mat-form-field>
    <mat-form-field>
      <input #display (focusout)="SaveDisplay(display.value)" [value]="group.display"
             matInput placeholder="{{ 'cperms.adgroup.display.placeholder' | translate}}" type="text">
    </mat-form-field>
    <mat-form-field>
      <input #power (focusout)="SavePower(power.value)" [value]="group.joinPower"
             matInput placeholder="{{ 'cperms.adgroup.joinpower.placeholder' | translate}}" type="number">
    </mat-form-field>
    <mat-form-field>
      <input #id (focusout)="SaveID(id.value)" [value]="group.tagId" matInput
             placeholder="{{ 'cperms.adgroup.tagid.placeholder' | translate}}" type="number">
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'cperms.addgroup.section.group' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="{{ 'cperms.permission' | translate}}" #grouppermission>
          <button mat-icon-button matSuffix (click)="AddPermissionToGroup(grouppermission.value)">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </mat-form-field>
        <mat-list>
          <mat-list-item *ngFor="let item of group.permissions">
            <button mat-icon-button (click)="RemovePermissionFromGroup(item)">
              <mat-icon *ngIf="item.value == true" color="error">delete</mat-icon>
              <mat-icon *ngIf="item.value == false" color="primary">delete</mat-icon>
            </button>
            {{item['key']}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'cperms.addgroup.section.server' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="{{ 'cperms.server_group' | translate}}" #servergroupname>
          <button mat-icon-button matSuffix (click)="AddServerGroup(servergroupname.value)">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </mat-form-field>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of group.serverGroupPermissions; let i = index ">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'cperms.server_group' | translate}} {{item.key}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput placeholder="{{ 'cperms.permission' | translate}}" #servergrouppermission>
              <button mat-icon-button matSuffix (click)="AddPermissionToServerGroup(i,servergrouppermission.value)">
                <mat-icon color="primary">add</mat-icon>
              </button>
            </mat-form-field>
            <mat-list>
              <mat-list-item *ngFor="let permission of group.serverGroupPermissions[i].value">
                <button mat-icon-button (click)="RemovePermissionFromServerGroup(i,permission)">
                  <mat-icon color="error">delete</mat-icon>
                </button>
                {{permission}}
              </mat-list-item>
            </mat-list>
            <button mat-icon-button (click)="RemoveServerGroup(item.key)">
              <mat-icon color="error">delete</mat-icon>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'cperms.addgroup.section.implement' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input #groupname [formControl]="implementGroup" [matAutocomplete]="option" matInput
                 placeholder="{{ 'cperms.group' | translate}}">
          <button mat-icon-button matSuffix (click)="AddGroup(groupname.value)">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </mat-form-field>
        <mat-autocomplete #option="matAutocomplete">
          <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
        </mat-autocomplete>
        <mat-list>
          <mat-list-item *ngFor="let item of group.implementGroups ">
            <button mat-icon-button (click)="RemoveGroup(item)">
              <mat-icon color="error">delete</mat-icon>
            </button>
            {{item}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
