<!--suppress JSUnusedLocalSymbols -->
<h1 mat-dialog-title>{{'module.mob.editmob.title'|translate}} - {{data.name}}</h1>
<div mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <img alt="Bild"
           mat-card-avatar
           src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/heads/{{data.type}}.png">
      <mat-card-title [innerHTML]="replaceColor(data.displayMessage) | safeHtml"></mat-card-title>
      <mat-card-subtitle [innerHTML]="replaceColor(data.display) | safeHtml"></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'module.mob.editmob.live.view'|translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [ngStyle]="getInv()">
            <span [innerHTML]="replaceColor(data.display) | safeHtml" class="inventoryTitle"></span>
            <div class="chest">
              <a *ngFor="let item of mobConfig.defaultItemInventory" [ngStyle]="getImage(item)" class="item">
                <div class="lore">
                  <div [innerHTML]="replaceColor(item.value.display) | safeHtml" class="item-title"></div>
                  <div *ngFor="let line of item.value.lore" [innerHTML]="replaceColor(line) | safeHtml"
                       class="lore-line"></div>
                </div>
              </a>
              <a *ngFor="let item of getAddItems()" class="item" mat-icon-button>
                <mat-icon>add</mat-icon>
                <div class="lore">
                  <div [innerHTML]="replaceColor(getTranslation('module.mob.tab.1.inventory.add.itme') | async ) | safeHtml"
                       class="item-title"></div>
                </div>
              </a>
              <a *ngFor="let item of getFillItems(); let i = index" [ngStyle]="getOffset(i)" class="item">
                <div class="lore">
                  <div [innerHTML]="replaceColor(mobConfig.itemLayout.display) | safeHtml" class="item-title"></div>
                  <div *ngFor="let line of mobConfig.itemLayout.lore" [innerHTML]="replaceColor(line) | safeHtml"
                       class="lore-line"></div>
                </div>
              </a>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'module.mob.editmob.settings'|translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form fxLayout="column">
            <mat-form-field>
              <input [value]="data.uniqueId" disabled matInput name="uuid" placeholder="UUID">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.display" [value]="data.display" matInput
                     name="display" placeholder="{{'module.mob.editmob.display'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.displayMessage" [value]="data.displayMessage"
                     matInput name="displayMessage" placeholder="{{'module.mob.editmob.display.message'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.type" [value]="data.type" matInput name="type"
                     placeholder="{{'module.mob.editmob.type'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.targetGroup" [value]="data.targetGroup" matInput
                     name="targetGroup" placeholder="{{'module.mob.editmob.target.group'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.name" [value]="data.name" matInput name="name"
                     placeholder="{{'module.mob.editmob.name'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.itemId" [value]="data.itemId" matInput
                     name="itemId" placeholder="{{'module.mob.editmob.item.id'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.itemName" [value]="data.itemName" matInput
                     name="itemName" placeholder="{{'module.mob.editmob.item.name'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.position.group" [value]="data.position.group" matInput
                     name="group" placeholder="{{'module.mob.editmob.group'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.position.world" [value]="data.position.world" matInput
                     name="world" placeholder="{{'module.mob.editmob.world'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.position.x" [value]="data.position.x" matInput name="x"
                     placeholder="{{'module.mob.editmob.x'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.position.y" [value]="data.position.y" matInput name="y"
                     placeholder="{{'module.mob.editmob.y'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.position.z" [value]="data.position.z" matInput name="z"
                     placeholder="{{'module.mob.editmob.z'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.position.yaw" [value]="data.position.yaw" matInput
                     name="yaw" placeholder="{{'module.mob.editmob.yaw'|translate}}">
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="data.position.pitch" [value]="data.position.pitch" matInput
                     name="pitch" placeholder="{{'module.mob.editmob.pitch'|translate}}">
            </mat-form-field>
            <mat-slide-toggle [(ngModel)]="data.autoJoin" [checked]="data.autoJoin"
                              name="autoJoin">{{'module.mob.editmob.auto.join'|translate}}</mat-slide-toggle>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-dialog-close>{{ 'buttons.close' | translate }}</button>
      <button (click)="saveMob()" mat-button mat-dialog-close>{{ 'buttons.save' | translate }}</button>
      <button (click)="deleteMob()" mat-button mat-dialog-close>{{ 'buttons.delete' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
