@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.eot") format("eot"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.woff") format("woff"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.ttf") format("truetype"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.svg#Minecraft") format("svg");
}

.inventoryTitle {
  display: block;
  margin-left: 16px;
  padding-top: 8px;

}

.chest {
  display: grid;
  grid-template-columns: repeat(9, 34px);
  grid-template-rows: repeat(1, 32px);
  grid-column-gap: 2px;
  grid-row-gap: 4px;
  box-sizing: border-box;
  grid-auto-columns: 32px;
  grid-auto-rows: 32px;
  margin-left: 16px;
  margin-top: 8px;
}

.item {
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  display: block;
}

.lore {
  margin-left: 32px;
  background-color: rgba(17, 2, 16, 0.9);
  display: none;
  z-index: 10000;
  position: absolute;
  padding: 8px;
  border-color: #220153;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: #AA00AA;
  font-style: italic;
}

.lore-line {
  display: block;
  height: 20px;
}

.item:hover .lore {
  display: block;
}

.live-viewer .inventoryTitle {
  margin-left: 14px;
  margin-top: 8px;
}

.live-viewer .chest {
  margin: 8px 15px;
}
