<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card style="padding: 4px; margin: 4px">
    <mat-card-header>
      <mat-card-title>{{ 'module.sign.edit.search.title' | translate}}</mat-card-title>
      <img alt=""
           mat-card-avatar
           src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/blocks/{{config.searchingAnimation.searchingLayouts[value].blockId}}-{{config.searchingAnimation.searchingLayouts[value].subId}}.png">
    </mat-card-header>
    <mat-card-content>
      <mat-slider [(ngModel)]="value" [max]='(config.searchingAnimation.searchingLayouts.length) -1' min="0"
                  step="1" thumbLabel="true" style="width: 100%;" tickInterval="1"></mat-slider>

      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="live-viewer">
          <div *ngFor="let line of config.searchingAnimation.searchingLayouts[value].signLayout"
               [innerHTML]="replaceColor( line) | safeHtml"
               class="line"></div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-dialog-close>{{'buttons.close'|translate}}</button>
      <button (click)="openEdit(config.searchingAnimation.searchingLayouts[value])"
              mat-button>{{ 'buttons.edit' | translate}}</button>
      <button mat-button (click)="addFrame()">{{ 'buttons.add' | translate}}</button>
      <button mat-button (click)="removeFrame(value)">{{ 'buttons.delete' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>
