<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<form>
  <h1 mat-dialog-title>{{'delete.title' | translate:{name: name} }}</h1>
  <div mat-dialog-content>
    <h2>{{'delete.content' | translate}}</h2>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button (click)="onCloseClick()" color="primary">{{'buttons.no' | translate}}</button>
    <button mat-flat-button (click)="onDeleteClick(name)" color="warn">{{'buttons.yes' | translate}}</button>
  </div>
</form>
