<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnresolvedVariable -->
<h1 mat-dialog-title>{{group.name}} - Templates</h1>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel [formGroup]="AddTemplateGroup">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'servergroups.templates.add.title' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'servergroups.templates.add.description' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <mat-form-field>
          <input #templatename matInput placeholder="{{ 'servergroups.templates.input.name' | translate}}" type="text"
                 required
                 formGroupName="TemplateNameCtrl">
        </mat-form-field>
        <mat-form-field>
          <input #templateurl matInput placeholder="{{ 'servergroups.templates.input.url' | translate}}" type="text"
                 value="null"
                 formGroupName="TemplateUrlCtrl">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'servergroups.templates.select.backend' | translate}}</mat-label>
          <mat-select #TemplateBackend value="LOCAL" formGroupName="TemplateBackendCtrl">
            <mat-option value="LOCAL">LOCAL</mat-option>
            <mat-option value="URL">URL</mat-option>
            <mat-option value="MASTER">MASTER</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="AddTemplate(templatename.value,templateurl.value,TemplateBackend.value)">
          {{ 'servergroups.templates.button.addtemplate' | translate}}
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let template of group.templates; let j = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'servergroups.templates.list.title' | translate:{name: template.name} }}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'servergroups.templates.list.description' | translate:{backend: template.backend} }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <mat-form-field>
          <input #templatename matInput placeholder="{{ 'servergroups.templates.input.name' | translate}}"
                 [value]="template.name" type="text"
                 (focusout)="SaveTemplateName(templatename.value,j)">
        </mat-form-field>
        <mat-form-field>
          <input #templateurl matInput placeholder="{{ 'servergroups.templates.input.url' | translate}}"
                 [value]="template.url" type="text"
                 (focusout)="SaveTemplateUrl(templateurl.value,j)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'servergroups.templates.select.backend' | translate}}</mat-label>
          <mat-select #TemplateBackend [value]="template.backend"
                      (selectionChange)="SaveTemplateBackend(TemplateBackend.value,j)">
            <mat-option value="LOCAL">LOCAL</mat-option>
            <mat-option value="URL">URL</mat-option>
            <mat-option value="MASTER">MASTER</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'servergroups.addplugin.title' | translate}}
              </mat-panel-title>
              <mat-panel-description>
                {{'servergroups.addplugin.description' | translate}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="space-around stretch">
              <mat-form-field>
                <input #pluginname matInput placeholder="{{'servergroups.plugin.input.name' | translate}}" type="text">
              </mat-form-field>
              <mat-form-field>
                <input #pluginurl matInput placeholder="{{'servergroups.plugin.input.url' | translate}}" type="text">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{'servergroups.addplugin.select.type' | translate}}</mat-label>
                <mat-select #plugintype value="URL">
                  <mat-option value="LOCAL">LOCAL</mat-option>
                  <mat-option value="URL">URL</mat-option>
                  <mat-option value="MASTER">MASTER</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-button (click)="AddPlugin(pluginname.value,pluginurl.value,plugintype.value,j)">
                {{'servergroups.addplugin.button' | translate}}
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel *ngFor="let plugin of template.intallablePlugins; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'servergroups.plugins.plugin.title' | translate:{name: plugin.name} }}
              </mat-panel-title>
              <mat-panel-description>
                {{'servergroups.plugins.plugin.description' | translate:{type: plugin.pluginResourceType} }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="space-around stretch">
              <mat-form-field>
                <input #pluginname matInput placeholder="{{'servergroups.plugin.input.name' | translate}}"
                       [value]="plugin.name" type="text"
                       (focusout)="SavePluginNameT(pluginname.value,i,j)">
              </mat-form-field>
              <mat-form-field>
                <input #pluginurl matInput placeholder="{{'servergroups.plugin.input.url' | translate}}"
                       [value]="plugin.url" type="text"
                       (focusout)="SavePluginUrlT(pluginurl.value,i,j)">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{'servergroups.plugin.select.type' | translate}}</mat-label>
                <mat-select #plugintype [value]="plugin.pluginResourceType"
                            (selectionChange)="SavePluginResourceTypeT(plugintype.value,i,j)">
                  <mat-option value="LOCAL">LOCAL</mat-option>
                  <mat-option value="URL">URL</mat-option>
                  <mat-option value="MASTER">MASTER</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button mat-button (click)="RemovePlugin(i,j)">{{'servergroups.plugin.remove' | translate}}
              <mat-icon>delete</mat-icon>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
        <button mat-button (click)="RemoveTemplate(j)">{{ 'servergroups.templates.buttonremove' | translate}}
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onCloseClick()" color="primary">{{ 'buttons.close' | translate}}</button>
  <button mat-flat-button (click)="onSaveClick()" color="Accent">{{ 'buttons.save' | translate}}</button>
</div>
