<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSCheckFunctionSignatures, JSUnresolvedVariable -->
<form>
  <h1 mat-dialog-title>{{'servergroups.title' | translate:{name: servergroup.name} }}</h1>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="{{'servergroups.tab1.title' | translate}}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-form-field>
            <input #name matInput placeholder="{{'servergroups.tab1.input.name' | translate}}"
                   [value]="servergroup.name" type="text"
                   (focusout)="SaveName(name.value)">
          </mat-form-field>
          <mat-checkbox [value]="servergroup.maintenance" [checked]="servergroup.maintenance"
                        (change)="servergroup.maintenance = !servergroup.maintenance">
            {{'servergroups.tab1.checked.maintenance' | translate}}
          </mat-checkbox>
          <mat-checkbox [value]="servergroup.kickedForceFallback" [checked]="servergroup.kickedForceFallback"
                        (change)="servergroup.kickedForceFallback = !servergroup.kickedForceFallback">
            {{'servergroups.tab1.checked.kickendforcefallback' | translate}}
          </mat-checkbox>
          <mat-form-field>
            <input #memory matInput placeholder="{{'servergroups.tab1.input.memory' | translate}}"
                   [value]="servergroup.memory" type="number"
                   (focusout)="SaveMemory(memory.value)">
          </mat-form-field>
          <mat-form-field>
            <input #dynamicmemory matInput placeholder="{{'servergroups.tab1.input.dynamicmemory' | translate}}"
                   [value]="servergroup.dynamicMemory"
                   type="number" (focusout)="SaveDynamicMemory(dynamicmemory.value)">
          </mat-form-field>
          <mat-form-field>
            <input #joinpower matInput placeholder="{{'servergroups.tab1.input.joinpower' | translate}}"
                   [value]="servergroup.joinPower" type="number"
                   (focusout)="SaveJoinPower(joinpower.value)">
          </mat-form-field>
          <mat-form-field>
            <input #minonlineserver matInput placeholder="{{'servergroups.tab1.input.minserver' | translate}}"
                   [value]="servergroup.minOnlineServers"
                   type="number" (focusout)="SaveMinOnlineServer(minonlineserver.value)">
          </mat-form-field>
          <mat-form-field>
            <input #maxonlineserver matInput placeholder="{{'servergroups.tab1.input.maxserver' | translate}}"
                   [value]="servergroup.maxOnlineServers"
                   type="number" (focusout)="SaveMaxOnlineServer(maxonlineserver.value)">
          </mat-form-field>
          <mat-form-field>
            <input #pfnsa matInput
                   placeholder="{{'servergroups.tab1.input.percentfornewserverautomatically' | translate}}" min="0"
                   max="100"
                   [value]="servergroup.percentForNewServerAutomatically" type="number"
                   (focusout)="SavePFNSA(pfnsa.value)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'servergroups.tab1.select.servertype' | translate}}</mat-label>
            <mat-select #ServerType [value]="servergroup.serverType"
                        (selectionChange)="SaveServerType(ServerType.value)">
              <mat-option value="CUSTOM">CUSTOM</mat-option>
              <mat-option value="GLOWSTONE">GLOWSTONE</mat-option>
              <mat-option value="CAULDORN">CAULDORN</mat-option>
              <mat-option value="BUKKIT">BUKKIT</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'servergroups.tab1.select.groupmode' | translate}}</mat-label>
            <mat-select #groupmode [value]="servergroup.groupMode" (selectionChange)="SaveGroupMode(groupmode.value)">
              <mat-option value="LOBBY">LOBBY</mat-option>
              <mat-option value="STATIC">STATIC</mat-option>
              <mat-option value="DYNAMIC">DYNAMIC</mat-option>
              <mat-option value="STATIC_LOBBY">STATIC_LOBBY</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-list #wrapper>
            <mat-list-item>
              <mat-form-field>
                <input #addwrapper matInput placeholder="{{'servergroups.tab1.inupt.wrappername' | translate}}"
                       type="text" [formControl]="WrapperControl"
                       [matAutocomplete]="Wrapper">
                <mat-autocomplete autoActiveFirstOption #Wrapper="matAutocomplete">
                  <mat-option *ngFor="let wrapper of filteredWrappers | async" [value]="wrapper">
                    {{wrapper}}
                  </mat-option>
                </mat-autocomplete>
                <button mat-icon-button matSuffix (click)="AddWrapper(addwrapper.value)">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item *ngFor="let wrapper of servergroup.wrapper">
              <button mat-icon-button (click)="RemoveWrapper(wrapper)">
                <mat-icon>delete_forever</mat-icon>
              </button>
              {{wrapper}}
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
      <mat-tab label="{{'servergroups.tab2.title' | translate}}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-form-field>
            <input #templatename matInput placeholder="{{'servergroups.tab2.input.name' | translate}}"
                   [value]="servergroup.globalTemplate.name"
                   type="text" (focusout)="saveTemplateName(templatename.value)">
          </mat-form-field>
          <mat-form-field>
            <input #templateurl matInput placeholder="{{'servergroups.tab2.input.url' | translate}}"
                   [value]="servergroup.globalTemplate.url" type="text"
                   (focusout)="saveTemplateUrl(templateurl.value)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'servergroups.tab2.select.templatetype' | translate}}</mat-label>
            <mat-select #TemplateBackend [value]="servergroup.globalTemplate.backend"
                        (selectionChange)="saveTemplateBackend(TemplateBackend.value)">
              <mat-option value="LOCAL">LOCAL</mat-option>
              <mat-option value="URL">URL</mat-option>
              <mat-option value="MASTER">MASTER</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'servergroups.addplugin.title' | translate}}
                </mat-panel-title>
                <mat-panel-description>
                  {{'servergroups.addplugin.description' | translate}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <input #pluginname matInput placeholder="{{'servergroups.plugin.input.name' | translate}}"
                         type="text">
                </mat-form-field>
                <mat-form-field>
                  <input #pluginurl matInput placeholder="{{'servergroups.plugin.input.url' | translate}}" type="text">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>{{'servergroups.addplugin.select.type' | translate}}</mat-label>
                  <mat-select #plugintype value="URL">
                    <mat-option value="LOCAL">LOCAL</mat-option>
                    <mat-option value="URL">URL</mat-option>
                    <mat-option value="MASTER">MASTER</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button (click)="addPlugin(pluginname.value,pluginurl.value,plugintype.value)">
                  {{'servergroups.addplugin.button' | translate}}
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let plugin of servergroup.globalTemplate.intallablePlugins; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'servergroups.plugins.plugin.title' | translate:{name: plugin.name} }}
                </mat-panel-title>
                <mat-panel-description>
                  {{'servergroups.plugins.plugin.description' | translate:{type: plugin.pluginResourceType} }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <input #pluginname matInput placeholder="{{'servergroups.plugin.input.name' | translate}}"
                         [value]="plugin.name" type="text"
                         (focusout)="savePluginName(pluginname.value,i)">
                </mat-form-field>
                <mat-form-field>
                  <input #pluginurl matInput placeholder="{{'servergroups.plugin.input.url' | translate}}"
                         [value]="plugin.url" type="text"
                         (focusout)="savePluginUrl(pluginurl.value,i)">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>{{'servergroups.plugin.select.type' | translate}}</mat-label>
                  <mat-select #plugintype [value]="plugin.pluginResourceType"
                              (selectionChange)="savePluginResourceType(plugintype.value,i)">
                    <mat-option value="LOCAL">LOCAL</mat-option>
                    <mat-option value="URL">URL</mat-option>
                    <mat-option value="MASTER">MASTER</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button (click)="removePlugin(i)">{{'servergroups.plugin.remove' | translate}}
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <!--<mat-list >
            <mat-list-item >
              <mat-form-field>
                <input #addprocessPreParameters matInput il8n placeholder="Process Pre Parameter" type="text">
                <button mat-icon-button matSuffix (click)="addProcessPreParameters(addprocessPreParameters.value)"><mat-icon>add</mat-icon></button>
              </mat-form-field>

            </mat-list-item>
            <mat-list-item *ngFor="let parameter of proxygroup.template.processPreParameters"><button mat-icon-button (click)="removeProcessPreParameters(parameter)"><mat-icon>delete_forever</mat-icon></button> {{parameter}} </mat-list-item>
          </mat-list>-->
        </div>
      </mat-tab>
      <mat-tab label="{{'servergroups.tab3.title' | translate}}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-checkbox [value]="servergroup.advancedServerConfig.notifyPlayerUpdatesFromNoCurrentPlayer"
                        [checked]="servergroup.advancedServerConfig.notifyPlayerUpdatesFromNoCurrentPlayer"
                        (change)="servergroup.advancedServerConfig.notifyPlayerUpdatesFromNoCurrentPlayer = !servergroup.advancedServerConfig.notifyPlayerUpdatesFromNoCurrentPlayer">
            {{'servergroups.tab3.checked.npufncp' | translate}}
          </mat-checkbox>
          <mat-checkbox [value]="servergroup.advancedServerConfig.notifyProxyUpdates"
                        [checked]="servergroup.advancedServerConfig.notifyProxyUpdates"
                        (change)="servergroup.advancedServerConfig.notifyProxyUpdates = !servergroup.advancedServerConfig.notifyProxyUpdates">
            {{'servergroups.tab3.checked.npu' | translate}}
          </mat-checkbox>
          <mat-checkbox [value]="servergroup.advancedServerConfig.notifyServerUpdates"
                        [checked]="servergroup.advancedServerConfig.notifyServerUpdates"
                        (change)="servergroup.advancedServerConfig.notifyServerUpdates = !servergroup.advancedServerConfig.notifyServerUpdates">
            Notify Server Updates
          </mat-checkbox>
          <mat-checkbox [value]="servergroup.advancedServerConfig.disableAutoSavingForWorlds"
                        [checked]="servergroup.advancedServerConfig.disableAutoSavingForWorlds"
                        (change)="servergroup.advancedServerConfig.disableAutoSavingForWorlds = !servergroup.advancedServerConfig.disableAutoSavingForWorlds">
            {{'servergroups.tab3.checked.dasfw' | translate}}
          </mat-checkbox>
        </div>
      </mat-tab>
      <mat-tab label="{{'servergroups.tab4.title' | translate}}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-form-field>
            <input #stopTimeInSeconds matInput placeholder="{{'servergroups.tab4.input.stis' | translate}}"
                   [value]="servergroup.priorityService.stopTimeInSeconds" type="number"
                   (focusout)="SaveStopTimeInSeconds(stopTimeInSeconds.value)">
          </mat-form-field>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'servergroups.tab4.global.title' | translate}}
                </mat-panel-title>
                <mat-panel-description>
                  {{'servergroups.tab4.global.description' | translate }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <input matInput #globalonlineserver placeholder="{{'servergroups.tab4.onlineservers' | translate }}"
                         [value]="servergroup.priorityService.global.onlineServers" type="number">
                </mat-form-field>
                <mat-form-field>
                  <input matInput #globalonlinecount placeholder="{{'servergroups.tab4.onlinecount' | translate }}"
                         [value]="servergroup.priorityService.global.onlineCount" type="number">
                </mat-form-field>
                <button mat-button (click)="saveGlobal(globalonlineserver.value,globalonlinecount.value)">
                  {{'buttons.save' | translate }}
                </button>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'servergroups.tab4.group.title' | translate }}
                </mat-panel-title>
                <mat-panel-description>
                  {{'servergroups.tab4.group.description' | translate }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <input matInput #grouponlineserver placeholder="{{'servergroups.tab4.onlineservers' | translate }}"
                         [value]="servergroup.priorityService.group.onlineServers" type="number">
                </mat-form-field>
                <mat-form-field>
                  <input matInput #grouponlinecount placeholder="{{'servergroups.tab4.onlinecount' | translate }}"
                         [value]="servergroup.priorityService.group.onlineCount" type="number">
                </mat-form-field>
                <button mat-button (click)="saveGroup(grouponlineserver.value,grouponlinecount.value)">{{'buttons.save'
                  | translate }}
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button (click)="onCloseClick()" color="primary">{{'buttons.close' | translate }}</button>
    <button mat-flat-button (click)="onSaveClick()" color="Accent">{{'buttons.save' | translate }}</button>
  </div>
</form>
