<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnusedLocalSymbols -->
<mat-toolbar>
  <button (click)="SaveConfig()" mat-button>{{ 'buttons.save' | translate}}</button>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="{{ 'module.sign.tab.1' | translate}}">
    <mat-toolbar>
      <button (click)="AddSignGroup()" mat-button>{{ 'buttons.add' | translate}}</button>
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of singLayoutConfig.groupLayouts; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-card *ngFor="let layout of item.layouts" style="padding: 4px; margin: 4px">
            <mat-card-header>
              <mat-card-title>{{layout.name}}</mat-card-title>
              <mat-card-subtitle>{{layout.blockId}}:{{layout.subId}}</mat-card-subtitle>
              <img alt=""
                   mat-card-avatar
                   src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/blocks/{{layout.blockId}}-{{layout.subId}}.png">
            </mat-card-header>
            <mat-card-content fxLayoutAlign="center center">
              <div class="live-viewer">
                <div *ngFor="let line of layout.signLayout" [innerHTML]="replaceColor( line) | safeHtml"
                     class="line"></div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="openEdit(layout)">{{ 'buttons.edit' | translate }}</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <button mat-stroked-button color="primary" (click)="RemoveGroup(i)">{{ 'buttons.delete' | translate }}</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="{{ 'module.sign.tab.2' | translate}}">
    <div fxLayoutAlign="center center">
      <mat-card style="padding: 4px; margin: 4px">
        <mat-card-header>
          <mat-card-title>{{ 'module.sign.tab.2.sign.title' | translate}}</mat-card-title>
          <img alt=""
               mat-card-avatar
               src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/blocks/{{animation.blockId}}-{{animation.subId}}.png">
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" style="padding: 8px;">
          <div class="live-viewer">
            <div *ngFor="let line of animation.signLayout" [innerHTML]="replaceColor( line) | safeHtml"
                 class="line"></div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="EditSearch()" color="primary">{{ 'buttons.edit' | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'module.sign.tab.3' | translate}}">
    <div fxLayout="column" fxLayoutAlign="center none">
      <mat-card style="padding: 4px; margin: 16px">
        <mat-card-header>
          <mat-card-title>{{ 'module.sign.tab.3.settings.animation.title' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start none" style="padding: 4px; margin: 4px">
            <mat-form-field>
              <input #inputA1 (change)="singLayoutConfig.searchingAnimation.animations = parseInt(inputA1.value)"
                     [value]="singLayoutConfig.searchingAnimation.animations" matInput
                     placeholder="{{ 'module.sign.tab.3.settings.animation.input.1.placeholder'  | translate}}">
            </mat-form-field>
            <mat-form-field>
              <input #inputA2 (change)="singLayoutConfig.searchingAnimation.animationsPerSecond = parseInt(inputA2.value)"
                     [value]="singLayoutConfig.searchingAnimation.animationsPerSecond" matInput
                     placeholder="{{ 'module.sign.tab.3.settings.animation.input.2.placeholder'  | translate}}">
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card style="padding: 4px; margin: 16px">
        <mat-card-header>
          <mat-card-title>{{ 'module.sign.tab.3.settings.general.title' |translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start none" style="padding: 4px; margin: 4px">
            <mat-form-field>
              <input #inputG1 (change)="singLayoutConfig.strength = parseInt(inputG1.value)"
                     [value]="singLayoutConfig.strength" matInput
                     placeholder="{{'module.sign.tab.3.settings.general.input.1.placeholder' | translate}}">
            </mat-form-field>
            <mat-slide-toggle (change)="singLayoutConfig.knockbackOnSmallDistance = !singLayoutConfig.knockbackOnSmallDistance" [checked]="singLayoutConfig.knockbackOnSmallDistance"
                              color="primary">{{ 'module.sign.tab.3.settings.general.button.1.placeholder' | translate}}</mat-slide-toggle>
            <mat-form-field>
              <input #inputG2 (change)="singLayoutConfig.distance = parseInt(inputG2.value)"
                     [value]="singLayoutConfig.distance" matInput
                     placeholder="{{ 'module.sign.tab.3.settings.general.input.2.placeholder' | translate}}">
            </mat-form-field>
            <mat-slide-toggle (change)="singLayoutConfig.fullServerHide = !singLayoutConfig.fullServerHide" [checked]="singLayoutConfig.fullServerHide"
                              color="primary">{{ 'module.sign.tab.3.settings.general.button.2.placeholder' | translate}}</mat-slide-toggle>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'module.sign.tab.4' | translate}}">
    <div class="mat-elevation-z8">
      <table [dataSource]="signs" mat-table matSort>
        <ng-container matColumnDef="TARGET_GROUP">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="targetGroup"> {{'module.sign.tab.4.table.col.1'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.targetGroup}} </td>
        </ng-container>
        <ng-container matColumnDef="x">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="x"> {{'module.sign.tab.4.table.col.2'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.sign.position.x}} </td>
        </ng-container>
        <ng-container matColumnDef="y">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="y"> {{'module.sign.tab.4.table.col.3'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.sign.position.y}} </td>
        </ng-container>
        <ng-container matColumnDef="z">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="z"> {{'module.sign.tab.4.table.col.4'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.sign.position.z}} </td>
        </ng-container>
        <ng-container matColumnDef="world">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="world"> {{'module.sign.tab.4.table.col.5'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.sign.position.world}} </td>
        </ng-container>
        <ng-container matColumnDef="group">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="group"> {{'module.sign.tab.4.table.col.6'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.sign.position.group}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="EditSign(element.sign)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons [pageSize]="20"></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>

