<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div>
  <mat-toolbar>
    <button mat-icon-button routerLink="/cperms">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <h2 *ngIf="player != null">{{player.name}}</h2>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="SubmitUser()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div fxLayout="column" fxLayoutGap="20px" *ngIf="player != null">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <br>
    <mat-form-field>
      <input #prefix [value]="player.uniqueId" disabled
             matInput placeholder="{{ 'module.cperms.user.permission.input.placeholder.uuid' | translate}}" type="text">
    </mat-form-field>
    <mat-form-field>
      <input #prefix [value]="player.permissionEntity.prefix" matInput
             maxlength="16" placeholder="{{'module.cperms.user.permission.input.placeholder.prefix' | translate}}"
             type="text" (focusout)="onSavePrefix(prefix.value)">
    </mat-form-field>
    <mat-form-field>
      <input #suffix [value]="player.permissionEntity.suffix" matInput
             maxlength="16" placeholder="{{'module.cperms.user.permission.input.placeholder.suffix  '}}"
             type="text" (focusout)="onSaveSuffix(suffix.value)">
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center" [formGroup]="user">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'module.cperms.user.permission.section.user.groups' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="{{ 'cperms.group' | translate}}" formControlName="groupName">
        </mat-form-field>
        <mat-form-field>
          <input [matDatepicker]="picker" formControlName="datePicker"
                 matInput
                 placeholder="{{'module.cperms.user.permission.section.user.timeout'| translate}}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button matSuffix (click)="AddGroupToUser()">
          <mat-icon color="primary">add</mat-icon>
        </button>
        <mat-list>
          <mat-list-item *ngFor="let item of player.permissionEntity.groups">
            <button mat-icon-button (click)="onRemoveGroupFromUser(item.key)">
              <mat-icon color="error">delete</mat-icon>
            </button>
            {{item['key']}} - {{item.value | date: 'MM/dd/yyyy'}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'module.cperms.user.permission.section.permission' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="{{ 'cperms.permission' | translate}}" formControlName="permission">
        <button mat-icon-button matSuffix (click)="onAddPermission()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </mat-form-field>
      <mat-list>
        <mat-list-item *ngFor="let item of player.permissionEntity.permissions">
          <button mat-icon-button (click)="onRemovePermission(item.key)">
            <mat-icon *ngIf="item.value === false">delete</mat-icon>
            <mat-icon *ngIf="item.value === true" color="primary">delete</mat-icon>
          </button>
          {{item['key']}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

  </div>
</div>
