<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnusedLocalSymbols -->
<div class="loading-shade"
     *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" matSort matSortActive="serverId" matSortDisableClear matSortDirection="asc"
       class="mat-elevation-z8">

  <!-- SignPosition Column -->
  <ng-container matColumnDef="serverId">
    <th mat-header-cell *matHeaderCellDef>ServerID</th>
    <td mat-cell *matCellDef="let element"> {{element.serverId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="usedMemory">
    <th *matHeaderCellDef mat-header-cell> UsedMemory</th>
    <td mat-cell *matCellDef="let element"> {{element.usedMemory | memory}} </td>
  </ng-container>
  <ng-container matColumnDef="cpuUsage">
    <th *matHeaderCellDef mat-header-cell> CpuUsage</th>
    <td *matCellDef="let element" mat-cell> {{element.cpuUsage | number:'1.0-0'}}%</td>
  </ng-container>
  <ng-container matColumnDef="hostname">
    <th *matHeaderCellDef mat-header-cell> Hostname</th>
    <td mat-cell *matCellDef="let element"> {{element.wrapperInfo.hostName}} </td>
  </ng-container>
  <ng-container matColumnDef="queue">
    <th *matHeaderCellDef mat-header-cell> Queue</th>
    <td mat-cell *matCellDef="let element"> {{element.queue}} </td>
  </ng-container>
  <ng-container matColumnDef="user">
    <th *matHeaderCellDef mat-header-cell> User</th>
    <td mat-cell *matCellDef="let element"> {{element.networkInfo.user}} </td>
  </ng-container>
  <ng-container matColumnDef="servers">
    <th *matHeaderCellDef mat-header-cell> Servers</th>
    <td mat-cell *matCellDef="let element"> {{element.servers.length}} </td>
  </ng-container>
  <ng-container matColumnDef="proxy">
    <th *matHeaderCellDef mat-header-cell> Proxys</th>
    <td mat-cell *matCellDef="let element"> {{element.proxys.length}} </td>
  </ng-container>
  <ng-container matColumnDef="view">
    <th *matHeaderCellDef mat-header-cell> Detail View</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button matTooltip="Detail view"
              (click)="openView(element)">
        <mat-icon>desktop_windows</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
