<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<h1 mat-dialog-title>{{ 'about.title' | translate}}</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <h4 mat-line>{{ 'about.user' | translate}}</h4>
      <p mat-line> {{ (currentUser | async) }} </p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>verified_user</mat-icon>
      <h4 mat-line>{{ 'about.version' | translate }}</h4>
      <p mat-line>{{ version | async }} - IXION</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>cloud</mat-icon>
      <h4 mat-line>{{ 'about.cloudnetversion' | translate }}</h4>
      <p mat-line>{{ cloudnetversion | async }} - REZSYM</p>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">{{ 'buttons.close' | translate}}</button>
</div>

