<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->


<div class="mat-app-background" style="height: 100%; margin-top: 0;">
  <div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 25vh;">
    <form #f="ngForm" (ngSubmit)="f.form.valid && login()" name="form" novalidate>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar style="font-size: xx-large">cloud_circle</mat-icon>
          <mat-card-title>{{'login.title'| translate }}</mat-card-title>
          <mat-card-subtitle>{{'login.description' | translate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px">
          <div [ngClass]="{ 'has-error': f.submitted && !username.valid }" class="form-group">
            <mat-form-field>
              <input #username="ngModel" [(ngModel)]="model.username" matInput
                     name="username" placeholder="{{ 'login.input.user' | translate}}" required type="text">
            </mat-form-field>
            <div *ngIf="f.submitted && !username.valid"
                 class="help-block">{{'page.login.user.error.required' | translate}}</div>
          </div>
          <div [ngClass]="{ 'has-error': f.submitted && !password.valid }" class="form-group">

            <mat-form-field>
              <input #password="ngModel" [(ngModel)]="model.password" matInput
                     name="password" placeholder="{{'login.input.password' | translate}}" required type="password">
            </mat-form-field>
            <div *ngIf="f.submitted && !password.valid"
                 class="help-block">{{'page.login.password.error.required' | translate}}</div>
          </div>
          <mat-slide-toggle [(ngModel)]="ipConnect" [checked]="ipConnect"
                            name="ipConnect">{{ 'page.login.switch.ipConnect' | translate}}</mat-slide-toggle>
          <div *ngIf="!ipConnect">
            <mat-form-field>
              <mat-select [formControl]="networkcontrol" placeholder="{{'login.select' | translate}}" required>
                <mat-option *ngFor="let network of networks" [value]="network.CloudName">
                  {{network.CloudName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="ipConnect" fxLayout="column">
            <mat-slide-toggle [(ngModel)]="ssl" [checked]="ssl" name="ssl">SSL</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="cPort" [checked]="cPort"
                              name="cport">{{ 'page.login.manual.custom.port' | translate}}</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="cUrl" [checked]="cUrl"
                              name="url">{{ 'page.login.manual.custom.url' | translate}}</mat-slide-toggle>
            <mat-form-field>
              <input [(ngModel)]="ip" matInput name="ip" placeholder="{{ 'page.login.manual.input.ip' | translate}}"
                     type="text">
            </mat-form-field>
            <mat-form-field *ngIf="cPort">
              <input [(ngModel)]="port" matInput name="port" placeholder="{{ 'page.login.manual.input.port' | translate}}"
                     type="text">
            </mat-form-field>
            <mat-form-field *ngIf="cUrl">
              <input [(ngModel)]="url" matInput name="url" placeholder="{{ 'page.login.manual.input.url' | translate}}"
                     type="text">
            </mat-form-field>
          </div>

          <ngx-invisible-recaptcha #captchaElem (success)="resolved()"
                                   *ngIf="isGoogleRecaptcha()"
                                   [ngModelOptions]="{ standalone: true }"
                                   [ngModel]="recaptcha"
                                   [siteKey]="sitekey"
                                   [useGlobalDomain]="false"
                                   badge="bottomright"
                                   type="Image">
          </ngx-invisible-recaptcha>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center stretch">
          <button (click)="captchaElem.execute()" *ngIf="isGoogleRecaptcha()" color="primary"
                  mat-stroked-button>{{'login.button' | translate}}</button>
          <button *ngIf="!isGoogleRecaptcha()" color="primary" mat-stroked-button
                  type="submit">{{'login.button' | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
