<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnresolvedFunction, JSUnresolvedFunction -->
<mat-sidenav-container (click)="resetTime()" (keypress)="resetTime()" autosize class="example-container"
                       hasBackdrop="false">
  <mat-sidenav class="menu-drawer" #drawer>

    <h1>{{ 'navigation.label' | translate}}
      <button (click)="drawer.toggle()" *ngIf="isLoggedIn()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </h1>
    <mat-list>
      <h3>{{ 'navigation.labels.management' | translate}}</h3>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <button mat-stroked-button routerLink="/dashboard" (click)="drawer.close()">{{ 'navigation.buttons.dashboard' |
          translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>language</mat-icon>
        <button mat-stroked-button (click)="OpenMasterConsole()">{{ 'navigation.buttons.master' | translate}}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.groupmanagment' | translate}}</h3>
      <mat-list-item>
        <mat-icon>dns</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button matBadge="{{proxy_groups}}" matBadgeColor="primary"
                matBadgePosition="after" routerLink="/proxygroups">{{ 'navigation.buttons.proxygroups' |
          translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>storage</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button matBadge="{{server_groups}}" matBadgeColor="primary"
                matBadgePosition="after" routerLink="/servergroups">{{ 'navigation.buttons.servergroups' |
          translate}}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.list' | translate}}</h3>
      <mat-list-item>
        <mat-icon>cast</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button matBadge="{{proxies}}" matBadgeColor="primary"
                matBadgePosition="after" routerLink="/proxylist">{{ 'navigation.buttons.proxylist' |
          translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>cast_connected</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button matBadge="{{servers}}" matBadgeColor="primary"
                matBadgePosition="after" routerLink="/serverlist">{{ 'navigation.buttons.serverlist' |
          translate }}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>view_list</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button matBadge="{{wrappers}}" matBadgeColor="primary"
                matBadgePosition="after" routerLink="/wrappers">{{ 'navigation.buttons.wrapper' |
          translate }}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.modules' | translate}}</h3>
      <mat-list-item *ngIf="cperms">
        <mat-icon>supervised_user_circle</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button
                routerLink="/cperms">{{ 'navigation.buttons.module.cperms' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="sign">
        <mat-icon>assignment</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button
                routerLink="/sign">{{ 'navigation.buttons.module.sign' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="mob">
        <mat-icon>accessibility</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button
                routerLink="/mob">{{ 'navigation.buttons.module.mob' | translate}}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.player' | translate}}</h3>
      <mat-list-item>
        <mat-icon>send</mat-icon>
        <button (click)="drawer.close() && OpenPlayerConsole()"
                mat-stroked-button>{{ 'navigation.buttons.move.player' | translate}}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.utilities' | translate}}</h3>
      <mat-list-item>
        <mat-icon>https</mat-icon>
        <button (click)="drawer.close()" mat-stroked-button
                routerLink="/users">{{ 'navigation.buttons.cloudpermissions' |
          translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>settings</mat-icon>
        <button (click)="drawer.close() && OpenSettings()"
                mat-stroked-button>{{ 'navigation.buttons.utilities.settings' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>info</mat-icon>
        <button (click)="drawer.close() && OpenDisclaimer()"
                mat-stroked-button>{{ 'navigation.buttons.utilities.disclaimer' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>assignment</mat-icon>
        <button (click)="drawer.close() && OpenChangelog()"
                mat-stroked-button>{{ 'navigation.buttons.utilities.changelog' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>rowing</mat-icon>
        <button (click)="drawer.close() && OpenInformation()"
                mat-stroked-button>{{ 'navigation.buttons.utilities.info' | translate}}
        </button>
      </mat-list-item>
      <span class="fill-remaining-space"></span>
      <h3 class="mat-body-1" style="margin-right: 0.5%" matTooltip="Copyright by TheMeinerLP">&copy; Copyright by
        MADFIX.ME</h3>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="isLoggedIn()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{BRANDING}}</span>
        <span class="fill-remaining-space"></span>
        <button *ngIf="isLoggedIn()" (click)="drawer.close()" mat-raised-button routerLink="/login">
          <mat-icon>exit_to_app</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <ng-snotify></ng-snotify>
  </mat-sidenav-content>
</mat-sidenav-container>
