<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->
<div mat-dialog-title>
  <mat-toolbar>
    <span class="action-title">{{'screen.title' | translate:{name: _proxy.serviceId.serverId}  }}</span>

  </mat-toolbar>
</div>
<div mat-dialog-content #console>
  <div *ngFor="let line of lines">
    <code>{{line}}</code>
  </div>
</div>
<div fxLayout="row" mat-dialog-actions style="width: 100%">
  <mat-form-field style="width: 100%">
    <input type="text" matInput placeholder="{{'screen.input.command' | translate }}"
           formControl="CommandControl" #command
           [(ngModel)]="commandValue">
    <button mat-button matSuffix mat-icon-button aria-label="Send Command" (click)="onSubmit(command.value)">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-button mat-icon-button matSuffix aria-label="Lock Scrolling" (click)="SwapScroll()">
      <mat-icon [color]="lockedColor">lock</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button mat-dialog-close>{{'buttons.close' | translate }}</button>
</div>
