<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<form>
  <h1 mat-dialog-title>{{ 'usermanagment.resetpassword.title' | translate:{name: username} }}</h1>
  <div mat-dialog-content>
    <mat-horizontal-stepper linear="true">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{ 'usermanagment.resetpassword.password.title' | translate }}
          </ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'usermanagment.resetpassword.input.password' | translate }}"
                   type="password" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-flat-button (click)="onCloseClick()" color="primary">{{ 'buttons.close' | translate }}
            </button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate }}</button>

          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'usermanagment.resetpassword.done.title' | translate }}</ng-template>
        <p>{{ 'usermanagment.resetpassword.done.content' | translate }}</p>
        <div>
          <button mat-button matStepperPrevious>{{ 'buttons.back' | translate }}</button>
          <button mat-flat-button (click)="onChange(username)" color="primary">{{ 'buttons.change' | translate }}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div mat-dialog-actions>
  </div>
</form>
