<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<form>
  <h1 mat-dialog-title>{{'usermanagment.editpermissions.title' | translate:{name: user.name} }}</h1>
  <div mat-dialog-content>
    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <input #perm matInput placeholder="{{'usermanagment.editpermissions.input.permission' | translate }}"
                 type="text">
          <button mat-icon-button matSuffix (click)="addPermission(perm.value)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item *ngFor="let permission of user.permissions">
        <button mat-icon-button (click)="removePermission(permission)">
          <mat-icon>delete_forever</mat-icon>
        </button>
        {{permission}}
      </mat-list-item>
    </mat-list>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button (click)="onCloseClick()" color="primary">
      {{'buttons.close' | translate }}
    </button>
    <button mat-flat-button (click)="onSave()" color="accent">
      {{'buttons.save' | translate }}
    </button>
  </div>
</form>

