<!--suppress JSUnusedLocalSymbols -->
<mat-toolbar>
  <button mat-button (click)="SaveConfig()">{{ 'buttons.save' | translate}}</button>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="{{'module.mob.tab.1'|translate}}">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card style="padding: 4px; margin: 16px">
        <mat-card-header>
          <mat-card-title>{{'module.mob.tab.1.inventory.size'|translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start none" style="padding: 4px; margin: 4px">
            <mat-slider [(ngModel)]="mobConfig.inventorySize" [value]="mobConfig.inventorySize" color="primary" max="54"
                        min="9" name="inventorySize" step="9"
                        thumbLabel></mat-slider>
          </form>
        </mat-card-content>
      </mat-card>
      <div class="live-viewer" [ngStyle]="getInv()">
        <span class="inventoryTitle">{{'module.mob.tab.1.inventory.title'|translate}}</span>
        <div class="chest">
          <a (click)="editItem(item.value)" (contextmenu)="removeItem(i)" *ngFor="let item of mobConfig.defaultItemInventory; let i = index"
             [ngStyle]="getImage(item)" class="item">
            <div class="lore">
              <div class="item-title" [innerHTML]="replaceColor(item.value.display) | safeHtml"></div>
              <div class="lore-line" *ngFor="let line of item.value.lore"
                   [innerHTML]="replaceColor(line) | safeHtml"></div>
            </div>
          </a>
          <a class="item" *ngFor="let item of getAddItems()" (click)="add(getDefaultItem())" mat-icon-button>
            <mat-icon>add</mat-icon>
            <div class="lore">
              <div [innerHTML]="replaceColor(getTranslation('module.mob.tab.1.inventory.add.itme') | async ) | safeHtml"
                   class="item-title"></div>
            </div>
          </a>
          <a (click)="editItem(mobConfig.itemLayout)" *ngFor="let item of getFillItems(); let i = index" [ngStyle]="getOffset(i)"
             class="item">
            <div class="lore">
              <div class="item-title" [innerHTML]="replaceColor(mobConfig.itemLayout.display) | safeHtml"></div>
              <div class="lore-line" *ngFor="let line of mobConfig.itemLayout.lore"
                   [innerHTML]="replaceColor(line) | safeHtml"></div>
            </div>
          </a>
        </div>
      </div>
      <mat-card style="padding: 4px; margin: 16px">
        <mat-card-header>
          <mat-card-title>{{'module.mob.tab.1.inventory.item.start.point'|translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start none" style="padding: 4px; margin: 4px">
            <mat-slider [(ngModel)]="mobConfig.startPoint" [disabled]="mobConfig.defaultItemInventory.length == mobConfig.inventorySize"
                        [max]="getMaxStart()" [min]="mobConfig.defaultItemInventory.length + 1"
                        [value]="mobConfig.startPoint" color="primary" name="startPoint" step="1"
                        thumbLabel></mat-slider>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="{{'module.mob.tab.2'|translate}}">
    <div class="mat-elevation-z8">
      <table [dataSource]="mobs" mat-table matSort>
        <ng-container matColumnDef="display">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="display"> {{'module.mob.tab.2.table.col.1'|translate}} </th>
          <td *matCellDef="let element" mat-cell><span
            [innerHTML]="replaceColor(element.mob.display) | safeHtml"></span></td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="name"> {{'module.mob.tab.2.table.col.2'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="type"> {{'module.mob.tab.2.table.col.3'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="targetGroup">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="targetGroup"> {{'module.mob.tab.2.table.col.4'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.targetGroup}} </td>
        </ng-container>
        <ng-container matColumnDef="displayMessage">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="displayMessage"> {{'module.mob.tab.2.table.col.5'|translate}} </th>
          <td *matCellDef="let element" mat-cell><span
            [innerHTML]="replaceColor(element.mob.displayMessage) | safeHtml"></span></td>
        </ng-container>
        <ng-container matColumnDef="autoJoin">
          <th *matHeaderCellDef mat-header-cell
              mat-sort-header="autoJoin"> {{'module.mob.tab.2.table.col.6'|translate}} </th>
          <td mat-cell *matCellDef="let element">
            <img *ngIf="element.mob.autoJoin == false"
                 alt="Bild" src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/offline.png">
            <img *ngIf="element.mob.autoJoin == true"
                 alt="Bild" src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/online.png">
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="EditMob(element.mob)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons [pageSize]="20"></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>

