<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{data.uniqueId}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column wrap">
      <mat-form-field>
        <input [value]="data.uniqueId" disabled matInput placeholder="UUID">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'module.sign.tab.4.table.col.2'|translate}}" [value]="data.position.x" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'module.sign.tab.4.table.col.3'|translate}}" [value]="data.position.y" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'module.sign.tab.4.table.col.4'|translate}}" [value]="data.position.z" disabled>
      </mat-form-field>
      <mat-form-field>
        <input [value]="data.position.world" disabled matInput
               placeholder="{{'module.sign.tab.4.table.col.5'|translate}}">
      </mat-form-field>
      <mat-form-field>
        <input [value]="data.position.group" disabled matInput
               placeholder="{{'module.sign.tab.4.table.col.6'|translate}}">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="data.targetGroup" [value]="data.targetGroup" matInput
               name="targetGroup" placeholder="{{'module.sign.tab.4.table.col.1'|translate}}" type="text">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-dialog-close>{{'buttons.close' | translate}}</button>
    <button mat-button mat-dialog-close (click)="save()">{{'buttons.save' | translate}}</button>
    <button mat-button mat-dialog-close (click)="deleteSign()">{{'buttons.delete' | translate}}</button>
  </mat-card-actions>
</mat-card>
