<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{'module.cperms.search.user.dialog.title'| translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field [formGroup]="search">
      <input matInput placeholder="Usernickname or UUID" formControlName="player">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onSearch()">{{ 'buttons.search' | translate}}</button>
    <button mat-button (click)="onClose()">{{'buttons.close' | translate}}</button>
  </mat-card-actions>
</mat-card>
