<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<h1 mat-dialog-title>{{data}}</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="{{ 'manage.start' | translate }}">
      <br>
      <form fxLayoutAlign="center" fxLayout="column">
        <mat-form-field>
          <input #count matInput placeholder="{{ 'count' | translate }}" value="1" type="number">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <button mat-stroked-button color="accent" (click)="onStartClick(data,count.value)">{{ 'buttons.start' |
          translate }}
          <mat-icon>flight_takeoff</mat-icon>
        </button>
      </form>

    </mat-tab>
    <mat-tab label="{{ 'manage.stop' | translate }}">
      <div fxLayout="column" fxLayoutAlign="center">
        <br>
        <button mat-stroked-button color="warn" (click)="onShutdownClick(data)">{{ 'buttons.shutdown' | translate }}
          <mat-icon>stop</mat-icon>
        </button>
        <br>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onCloseClick()" color="primary">{{ 'buttons.close' | translate }}</button>
</div>
