<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div class="example-loading-shade"
     *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div fxLayout="column space-around" fxHide.gt-sm="true" fxHide.lt-md="false" fxShow>
  <mat-card *ngFor="let item of items" style="margin: 7px; max-width: 400px">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>traffic</mat-icon>
      </div>
      <mat-card-title>{{ 'proxygroups.item.title' | translate: {name: item.name} }}</mat-card-title>
      <mat-card-subtitle>{{ 'proxygroups.item.version' | translate: {version: item.proxyVersion} }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="edit(item.name)">{{ 'buttons.edit' | translate}}</button>
      <button mat-stroked-button color="accent" (click)="manage(item.name)">{{ 'buttons.manage' | translate}}</button>
      <button mat-stroked-button (click)="remove(item.name)" color="warn">{{ 'buttons.delete' | translate}}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="margin: 7px;">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>traffic</mat-icon>
      </div>
      <mat-card-title>{{ 'proxygroups.item.add.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'proxygroups.item.add.description' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button (click)="add()">{{ 'buttons.add' | translate }}</button>

    </mat-card-actions>
  </mat-card>
</div>
<div fxHide.gt-sm="false" fxHide.lt-md="true" fxLayout="row warp" fxShow>
  <mat-card *ngFor="let item of items" fxShow style="margin: 7px;">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>traffic</mat-icon>
      </div>
      <mat-card-title>{{ 'proxygroups.item.title' | translate:{name: item['name']} }}</mat-card-title>
      <mat-card-subtitle>{{ 'proxygroups.item.version' | translate:{version: item.proxyVersion} }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="edit(item.name)">{{ 'buttons.edit' | translate}}</button>
      <button mat-stroked-button color="accent" (click)="manage(item.name)">{{ 'buttons.manage' | translate}}</button>
      <button mat-stroked-button (click)="remove(item.name)" color="warn">{{ 'buttons.delete' | translate}}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="margin: 7px;">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>traffic</mat-icon>
      </div>
      <mat-card-title>{{ 'proxygroups.item.add.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'proxygroups.item.add.description' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button (click)="add()">{{ 'buttons.add' | translate }}</button>

    </mat-card-actions>
  </mat-card>
</div>

