/*
 * Copyright (c) 2019.
 * CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
 *  Namensnennung -
 *  Nicht kommerziell -
 *  Keine Bearbeitungen 4.0 International Lizenz.
 */
@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.eot") format("eot"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.woff") format("woff"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.ttf") format("truetype"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.svg#Minecraft") format("svg");
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-viewer {
  background-image: url("https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/background.png");
  min-height: 120px;
  max-width: 50%;
  font-family: 'Minecraft', serif;
}

.live-viewer .slots {

}
