<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnresolvedVariable -->
<form>
  <h1 mat-dialog-title>{{ 'proxygroup.add.title' | translate}}</h1>
  <div mat-dialog-content style="min-width: 40vw;">
    <mat-vertical-stepper linear="true">
      <mat-step [stepControl]="NameFormGroup">
        <form [formGroup]="NameFormGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'proxygroup.add.step0.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'proxygroup.add.step0.input.name' | translate}}"
                   formControlName="NameCrtl" required type="text">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.close' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="MemoryFormGroup">
        <form [formGroup]="MemoryFormGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'proxygroup.add.step1.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'proxygroup.add.step1.input.memory' | translate}}"
                   formControlName="MemoryCrtl" required
                   type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="StartUpFromGroup">
        <form [formGroup]="StartUpFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'proxygroup.add.step2.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'proxygroup.add.step2.input.onlineproxy' | translate}}" type="number"
                   formControlName="StartUpCrtl"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="PortFromGroup">
        <form [formGroup]="PortFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'proxygroup.add.step3.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'proxygroup.add.step3.input.port' | translate}}"
                   formControlName="PortCrtl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="TemplateBackendFromGroup">
        <form [formGroup]="TemplateBackendFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'proxygroup.add.step4.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'proxygroup.add.step4.input.backend' | translate}}"
                   formControlName="TemplateBackendCrtl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="WrapperFromGroup">
        <form [formGroup]="WrapperFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'proxygroup.add.step5.title' | translate}}</ng-template>
          <mat-form-field>
            <input [matAutocomplete]="Wrapper" formControlName="WrapperCrtl"
                   matInput placeholder="{{ 'proxygroup.add.step5.input.wrapper' | translate}}" required>
            <mat-autocomplete #Wrapper="matAutocomplete" autoActiveFirstOption>
              <mat-option *ngFor="let wrapper of filteredWrappers | async" [value]="wrapper">
                {{wrapper}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="GroupModeCrtl" role="tab">
        <form fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'proxygroup.add.step6.title' | translate}}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'proxygroup.add.step6.input.groupmode' | translate}}</mat-label>
            <mat-select value="DYNAMIC" [formControl]="GroupModeCrtl">
              <mat-option value="STATIC">STATIC</mat-option>
              <mat-option value="DYNAMIC">DYNAMIC</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'proxygroup.add.done.done' | translate}}</ng-template>
        <p>{{ 'proxygroup.add.done.content' | translate}}</p>
        <div>
          <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
          <button mat-button (click)="Create()">{{ 'buttons.create' | translate}}</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</form>
