@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.eot") format("eot"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.woff") format("woff"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.ttf") format("truetype"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.svg#Minecraft") format("svg");
}

.drag {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  color: white;
}

.item {
  width: 32px;
  height: 32px;
  display: block;
}

.lore-line {
  display: block;
  height: 20px;
}

.lore {
  margin-left: 32px;
  background-color: rgba(17, 2, 16, 0.9);
  display: none;
  z-index: 100000;
  position: absolute;
  padding: 8px;
  border-color: #220153;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: #AA00AA;
  font-style: italic;
}

.item:hover .lore {
  display: block;
}

.drag:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
