<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{'module.mob.edit.item'|translate}}</mat-card-title>
    <a mat-card-avatar class="item" [ngStyle]="getOffset()">
      <div class="lore">
        <div class="item-title" [innerHTML]="replaceColor(data.display) | safeHtml"></div>
        <div class="lore-line" *ngFor="let line of data.lore"
             [innerHTML]="replaceColor(line) | safeHtml"></div>
      </div>
    </a>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column wrap">
      <mat-form-field>
        <input [(ngModel)]="data.itemId" [value]="data.itemId" matInput
               name="itemId" placeholder="{{'module.mob.edit.item.minecraft.id'|translate}}" type="number">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="data.itemName" [value]="data.itemName" matInput name="itemName"
               placeholder="Minecraft Item Name">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="data.subId" [value]="data.subId" matInput name="subId" placeholder="Minecraft Item Sub ID"
               type="number">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="data.display" [value]="data.display" matInput
               name="display" placeholder="{{'module.mob.edit.item.display'|translate}}" type="text">
      </mat-form-field>
      <mat-list (cdkDropListDropped)="drop($event)" cdkDropList
                class="{{'module.mob.edit.item.minecraft.sub.id'|translate}}">
        <mat-list-item>
          <mat-form-field>
            <input #line [value]="editLine" matInput placeholder="{{'module.mob.edit.item.line'|translate}}"
                   type="text">
            <button (click)="addLine(line.value)" mat-icon-button matSuffix>
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item *ngFor="let line of data.lore; let i = index" cdkDrag class="lore-line drag">
          <button mat-icon-button (click)="removeLine(i)">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button mat-icon-button (click)="edit(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <span>{{line}}</span>
        </mat-list-item>
      </mat-list>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-dialog-close>{{'buttons.close' | translate}}</button>
  </mat-card-actions>
</mat-card>
