<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'module.sign.add.group.title' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column wrap">
      <mat-form-field>
        <input #name matInput placeholder="{{'module.sign.add.group.input.1.placeholder' | translate}}">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-dialog-close (click)="AddGroup(name.value)">{{ 'buttons.add' | translate}}</button>
    <button mat-button mat-dialog-close>{{ 'buttons.close' | translate}}</button>
  </mat-card-actions>
</mat-card>
