<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div mat-dialog-title>
  <mat-toolbar>
    <span class="action-title">{{'masterlog.title' | translate}}</span>
    <button (click)="onStopMaster()" class="action-button" mat-icon-button matTooltip="Stop Master">
      <mat-icon>stop</mat-icon>
    </button>
    <button (click)="onReloadAll()" class="action-button" mat-icon-button matTooltip="Reload all">
      <mat-icon>refresh</mat-icon>
    </button>
    <span class="action-spacer"></span>
    <button (click)="onClearWrapperCache()" class="action-button" mat-icon-button matTooltip="Clear Wrapper Cache">
      <mat-icon>history</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div mat-dialog-content #console>
  <div *ngFor="let line of lines">
    <code>{{line}}</code>
  </div>
</div>
<div fxLayout="row" mat-dialog-actions style="width: 100%" [formGroup]="interface">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Command" name="Command" style="width: 100%" formControlName="command">
    <button mat-button matSuffix mat-icon-button aria-label="Send Command" (click)="onSendCommand()">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-button mat-icon-button matSuffix aria-label="Lock Scrolling" (click)="SwapScroll()">
      <mat-icon [color]="lockedColor">lock</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button mat-dialog-close>{{'buttons.close' | translate }}</button>
</div>
