/*
 * Copyright (c) 2019.
 * CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
 *  Namensnennung -
 *  Nicht kommerziell -
 *  Keine Bearbeitungen 4.0 International Lizenz.
 */

.action-button {
  margin: 2px;
}

.action-title {
  padding: 0 14px;
}

.action-spacer {
  flex: 1 1 auto;
}
