/*!
 * Copyright (c) 2019.
 * CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
 *  Namensnennung -
 *  Nicht kommerziell -
 *  Keine Bearbeitungen 4.0 International Lizenz.
 */
@import '~@angular/material/theming';

@include mat-core();
$my-app-primary: mat-palette($mat-blue-grey, 900);
$my-app-accent: mat-palette($mat-light-blue, 500);
$my-app-warn: mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

.light-theme {
  @include angular-material-theme($my-app-theme);
}

$dark-primary: mat-palette($mat-light-blue, 700, 500, 900);
$dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

$red-dark-primary: mat-palette($mat-pink, 700, 500, 900);
$red-dark-accent: mat-palette($mat-blue-gray, A200, A100, A400);
$red-dark-warn: mat-palette($mat-red);
$red-dark-theme: mat-dark-theme($red-dark-primary, $red-dark-accent, $red-dark-warn);

.red-theme {
  @include angular-material-theme($red-dark-theme);
}

$mad-dark-primary: mat-palette($mat-yellow, 500, 700, 900);
$mad-dark-accent: mat-palette($mat-blue-gray, A200, A100, A400);
$mad-dark-warn: mat-palette($mat-red);
$mad-dark-theme: mat-dark-theme($mad-dark-primary, $mad-dark-accent, $mad-dark-warn);

.mad-theme {
  @include angular-material-theme($mad-dark-theme);
}

$green-dark-primary: mat-palette($mat-green, 500, 700, 900);
$green-dark-accent: mat-palette($mat-blue-gray, A200, A100, A400);
$green-dark-warn: mat-palette($mat-red);
$green-dark-theme: mat-dark-theme($green-dark-primary, $green-dark-accent, $green-dark-warn);

.green-theme {
  @include angular-material-theme($green-dark-theme);
}

$venymc-dark-primary: mat-palette($mat-green, A400);
$venymc-dark-accent: mat-palette($mat-blue-gray, A200, A100, A400);
$venymc-dark-warn: mat-palette($mat-red);
$venymc-dark-theme: mat-dark-theme($venymc-dark-primary, $venymc-dark-accent, $venymc-dark-warn);

.venymc-theme {
  @include angular-material-theme($venymc-dark-theme);
}

$trash-dark-primary: mat-palette($mat-amber, A200);
$trash-dark-accent: mat-palette($mat-blue-gray, A200, A100, A400);
$trash-dark-warn: mat-palette($mat-red);
$trash-dark-theme: mat-dark-theme($trash-dark-primary, $trash-dark-accent, $trash-dark-warn);

.trash-theme {
  @include angular-material-theme($trash-dark-theme);
}

$oled-dark-primary: mat-palette($mat-indigo, 800);
$oled-dark-accent: mat-palette($mat-gray, 900, 900, 900);
$oled-dark-warn: mat-palette($mat-red);
$oled-dark-theme: mat-dark-theme($oled-dark-primary, $oled-dark-accent, $oled-dark-warn);

.oled-theme {
  @include mat-sidenav-theme($oled-dark-theme);
  @include angular-material-theme($oled-dark-theme);

  .mat-drawer-container {
    background-color: black;
  }

  .mat-expansion-panel {
    background-color: #1b1b1b;
  }

  .mat-drawer {
    background-color: black;
  }

  .mat-card {
    background-color: #212121;
  }

  .mat-dialog-container {
    background-color: #212121;
  }
}

$oled-teal-dark-primary: mat-palette($mat-teal, 800);
$oled-teal-dark-accent: mat-palette($mat-gray, 900, 900, 900);
$oled-teal-dark-warn: mat-palette($mat-red);
$oled-teal-dark-theme: mat-dark-theme($oled-teal-dark-primary, $oled-teal-dark-accent, $oled-teal-dark-warn);

.oled-teal-theme {
  @include mat-sidenav-theme($oled-teal-dark-theme);
  @include angular-material-theme($oled-teal-dark-theme);

  .mat-drawer-container {
    background-color: black;
  }

  .mat-expansion-panel {
    background-color: #1b1b1b;
  }

  .mat-drawer {
    background-color: black;
  }

  .mat-card {
    background-color: #212121;
  }

  .mat-dialog-container {
    background-color: #212121;
  }
}

$oled-deep-purble-dark-primary: mat-palette($mat-deep-purple, 800);
$oled-deep-purble-dark-accent: mat-palette($mat-gray, 900, 900, 900);
$oled-deep-purble-dark-warn: mat-palette($mat-red);
$oled-deep-purble-dark-theme: mat-dark-theme($oled-deep-purble-dark-primary, $oled-deep-purble-dark-accent, $oled-deep-purble-dark-warn);

.oled-deep-purble-theme {
  @include mat-sidenav-theme($oled-deep-purble-dark-theme);
  @include angular-material-theme($oled-deep-purble-dark-theme);

  .mat-drawer-container {
    background-color: black;
  }

  .mat-expansion-panel {
    background-color: #1b1b1b;
  }

  .mat-drawer {
    background-color: black;
  }

  .mat-card {
    background-color: #212121;
  }

  .mat-dialog-container {
    background-color: #212121;
  }
}
